*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width:70%;
    padding: 80px;
    margin: 100px auto;
    margin-left: auto;
    background:#ffff;
    min-height: 100vh;
    display:grid;
      grid-template-columns: 2fr 1fr;
      grid:10px;
  }
  .right{
      border-left:1px solid #efefef;
  }

 .title1{
     color:#01CCAB;
     text-transform:uppercase !important;
     
 }
 .title2{
    text-transform:uppercase;
    margin:10px 0;
 }
 
 p{ 
     color:#909090;
     margin-top:10px;
 }
 .edu,.work{
    margin-top:50px;
 }
 .heading{
     font-weight: 700;
     color:#000000;

 }

 .work1,.work2{
     margin-top:10px;
 }

 .skills{
     margin-top:150px;
 }
 .contact{
    margin-top:50px;
 }
 .language{
    margin-top:50px;
 }